<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="base.Issue">
            <methods>
                <include name="AddIssue" />
                <include name="EditIssue" />
                <include name="GetIssue" />
                <include name="DeleteIssue" />
            </methods>
        </class>
        </classes>
    </test>


</suite>